.env
google-key.json
logs/
plugins/
config/
.venv/
__pycache__/

lol_database.db
raw_match.json

get_puuid.py
get_matches.py
get_match_detail.py
transform.py
pipeline.py
teszt_env.py
test_dag.py
terraform/.terraform/
